<%- include('../partials/userPartials/userHeader') %>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Add Profile Picture</h1>
        <nav class="d-flex align-items-center">
          <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="/userProfile"
            >UserProfile<span class="lnr lnr-arrow-right"></span
          ></a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<form
  class="p-5 d-flex justify-content-center"
  action="/add-image/<%=userId%>?_method=PUT"
  method="post"
  enctype="multipart/form-data"
>
  <div class="">
    <label for="image" class="form-label"></label>
    <img
      src="<%=userDetails.image[0].url%>"
      onerror="this.src='https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg';"
      id="imgView"
      class="rounded-circle shadow-4-strong"
      style="
        height: 15rem;
        width: 15rem;
        object-fit: contain;
        border: 10px;
        border-radius: 50%;
      "
    />
    <div class="d-flex">
      <input
        type="file"
        class="form-control"
        name="image"
        id="image"
        accept="image/*"
        onchange="viewImage(event)"
        required
      />
      <div class="align-items-sm-end ml-3">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</form>

<script>
  function viewImage(event) {
    document.getElementById("imgView").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
</script>

<%- include('../partials/userPartials/userFooter') %>
