<%- include('../partials/userPartials/userHeader') %> 

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<div class="my-5  d-flex justify-content-center align-items-center">
		<div>
			<div class="mb-4 text-center">
				<img class="img-fluid img-responsive" style="max-width:220px; max-height:214; display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;transition: background-color 300ms;" src="https://media.aidaform.com/us-east-1%3Ac7020586-c2e7-47c4-b6e3-77779d3f3284/01am0ixdq68i.png" width="753" height="753">
			</div>
			<div class="text-center">
				<h1>Thank you for your order! </h1>
				<p>We have got your order and will start working on it soon! </p>
				<a href="/orders"><button class="btn btn-primary">View Orders</button></a>
			</div>
		</div>
		</div>
	<!--================End Order Details Area =================-->

	<%- include('../partials/userPartials/userFooter') %> 
